<!--PROMO AREA-->
<section class="promo-area section-padding">
    <div class="promo-bottom-area section-padding">
        <div class="promo-botton-area-bg" data-stellar-background-ratio="0.6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 text-center">
                    <div class="promo-bottom-content wow fadeIn">
                        <h2>we provide international freight &amp; logistics service worldwidw</h2>
                        <a href="/login" class="read-more">Get a quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--PROMO AREA END-->