<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row p-t-80">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">On-going Orders</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboards</a></li>
                            <li class="breadcrumb-item active">On-going Orders</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        <!-- strat card -->
        <div class="col-xl-12">
            <div class="card">
                <!-- <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Recent Orders</h4>
                    <div class="flex-shrink-0">
                        <button type="button" class="btn btn-soft-info btn-sm">
                            <i class="ri-file-list-3-line align-middle"></i> Generate Report
                        </button>
                    </div>
                </div> -->
                <!-- end card header -->

                <div class="card-body">
                    <div class="table-responsive table-card">
                        <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                            <thead class="text-muted table-light">
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Mode</th>
                                    <th scope="col">Activity Type</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Dest. Port</th>
                                    <th scope="col">Dest. Airport</th>
                                    <th scope="col">Origin</th>
                                    <th scope="col">Origin Port</th>
                                    <th scope="col">Origin Airport</th>
                                    <th scope="col">Inco Terms</th>
                                    <th scope="col">Delivery</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2112</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/ship-icon.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">Alex Smith</div> -->
                                        </div>
                                    </td>
                                    <td>Import</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Normal</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2111</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/airplain.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Export</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Express</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2109</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/airplain.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Import</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Normal</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2108</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/ship-icon.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Export</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Normal</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2109</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/airplain.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Export</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Express</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2108</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/ship-icon.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Import</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Express</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2109</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/airplain.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Export</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Express</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2108</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/ship-icon.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Import</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Express</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2109</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/airplain.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Export</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Normal</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2108</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/ship-icon.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Import</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>Dest. Airport</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Normal</td>
                                </tr>
                                <!-- end tr -->
                                <tr>
                                    <td>
                                        <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2107</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/airplain.jpg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>Import</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>Dest. Port Name</td>
                                    <td>
                                        <span class="badge badge-soft-success">Paid</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="assets/images/flags/india.svg" alt="" class="avatar-xs rounded-circle" />
                                            </div>
                                            <!-- <div class="flex-grow-1">India</div> -->
                                        </div>
                                    </td>
                                    <td>IGI</td>
                                    <td>IGI</td>
                                    <td>Test</td>
                                    <td>Express</td>
                                </tr>
                                <!-- end tr -->
                            </tbody>
                            <!-- end tbody -->
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- .card-body -->
            </div>
            <!-- .card-->
        </div>
        <!-- .col-->
        <!-- end card-->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end page-content -->