<h1>Sign Up Page</h1>

<form [formGroup]="signupForm">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="passWord"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Re-Enter Password</mat-label>
        <input matInput type="password" formControlName="rePassWord"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput type="text" formControlName="companyName"/>
    </mat-form-field>
    <mat-error *ngIf="signupForm.value.passWord && signupForm.value.passWord != signupForm.value.rePassWord">
        Password & Re-Entered Password don't match
    </mat-error>
    <button mat-raised-button color="primary" (click)="signUp()">Sign Up</button>
</form>