<!-- Begin page -->
<div id="layout-wrapper">

    <header id="page-topbar">
        <div class="layout-width">
            <div class="navbar-header m-0">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box horizontal-logo">
                        <a href="#" class="logo logo-dark">
                            <span class="logo-sm">
                    <img src="/assets/images/logo-sm.png" alt="" height="22">
                </span>
                            <span class="logo-lg">
                    <img src="/assets/images/logo-dark.png" alt="" height="17">
                </span>
                        </a>

                        <a href="#" class="logo logo-light">
                            <span class="logo-sm">
                    <img src="/assets/images/logo-sm.png" alt="" height="22">
                </span>
                            <span class="logo-lg">
                    <img src="/assets/images/logo-light.png" alt="" height="17">
                </span>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                </div>

                <div class="d-flex align-items-center">

                    <div class="dropdown ms-sm-3 header-item topbar-user">
                        <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="d-flex align-items-center">
                    <img class="rounded-circle header-profile-user" src="/assets/images/users/user-dummy-img.jpg"
                        alt="Header Avatar">
                    <span class="text-start ms-xl-2">
                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">Deepika Kapoor</span>
                        <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">(User)</span>
                    </span>
                </span>
            </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <h6 class="dropdown-header">Welcome Deepika!</h6>
                            <!-- <a class="dropdown-item" href="#"><i
                        class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span
                        class="align-middle">Profile</span></a> -->
                            <!-- <div class="dropdown-divider"></div> -->
                            <!-- <a class="dropdown-item" href="#"><i
                        class="mdi mdi-lock text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Lock screen</span></a> -->
                            <a class="dropdown-item" href="#" (click)="logout()"><i
                        class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                        class="align-middle" data-key="t-logout">Logout</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu" id="dashboard-sidebar">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a routerLink="/dashboard" class="logo logo-dark sidebar-title">
                <span class="logo-sm">
                    PC
                </span>
                <span class="logo-lg">
                    PranceUp Cargo
                </span>
            </a>
            <!-- Light Logo-->
            <a routerLink="/dashboard" class="logo logo-light sidebar-title">
                <span class="logo-sm">
                    PC
                </span>
                <span class="logo-lg">
                    PranceUp Cargo
                </span>
            </a>

            <!-- <h3 id="sidebar-title" class="sidebar-title">PranceUp Cargo</h3> -->

            <!-- Dark Logo-->
            <!-- <a href="index-2.html" class="logo logo-dark">
                <span class="logo-sm">
                    <img src="/assets/images/logo-sm.png" alt="" height="22">
                </span>
                <span class="logo-lg">
                    <img src="/assets/images/logo-dark.png" alt="" height="17">
                </span>
            </a> -->
            <!-- Light Logo-->
            <!-- <a href="index-2.html" class="logo logo-light">
                <span class="logo-sm">
                    <img src="/assets/images/logo-sm.png" alt="" height="22">
                </span>
                <span class="logo-lg">
                    <img src="/assets/images/logo-light.png" alt="" height="17">
                </span>
            </a>  -->
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar">
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <!-- <li class="menu-title"><span data-key="t-menu">Menu</span></li> -->
                    <li class="nav-item">
                        <a class="nav-link menu-link" routerLink="/dashboard">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboards</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" routerLink="/placeorder">
                            <i class="ri-stack-line"></i> <span data-key="t-dashboards">Place New Order</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" routerLink="/ongoingorders">
                            <i class="ri-stack-line"></i> <span data-key="t-dashboards">On going Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" routerLink="/completedorders">
                            <i class="ri-pages-line"></i> <span data-key="t-dashboards">Previous Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" routerLink="/quotation">
                            <i class="ri-honour-line"></i> <span data-key="t-dashboards">New Quotation</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" routerLink="/onholdquotation">
                            <i class="ri-pencil-ruler-2-line"></i> <span data-key="t-dashboards">On hold Quotation</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" (click)="logout()">
                            <i class="ri-logout-box-line"></i> <span data-key="t-dashboards">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <!-- Left Sidebar End -->

    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <div class="main-content">

        <router-outlet></router-outlet>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear())
                        </script> © PranceUp
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by PranceUp Cargo
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- Start Theme -->

<!-- Layout config Js -->
<script src="/assets/js/layout.js"></script>
<!-- Dashboard init -->
<script src="/assets/js/pages/dashboard-ecommerce.init.js"></script>
<!-- App js -->
<!-- <script src="/src/assets/js/app.js"></script> -->