<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row p-t-80">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">New Quotation</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboards</a></li>
                            <li class="breadcrumb-item active">New Quotation</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        <!-- strat card -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="live-preview">

                                        <form class="g-3 needs-validation" novalidate [formGroup]="estimateForm">

                                            <h4>Shipping Details</h4>
                                            <div class="row">
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Activity Type</mat-label>
                                                    <mat-select formControlName="typeOfActivity" (selectionChange)="activityChanged($event)">
                                                        <mat-option *ngFor="let type of global_service.typeOfActivity" [value]="type">{{type}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Transport Mode</mat-label>
                                                    <mat-select formControlName="modeOfTransport" (selectionChange)="transportModeChanged($event)">
                                                        <mat-option *ngFor="let mode of global_service.modeOfTransport" [value]="mode">{{mode}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <!-- <div class="row">
                                               <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4" *ngIf="isActivityTypeSelected && isExport">
                                                    <mat-label>Destination Country</mat-label>
                                                    <input matInput type="text" formControlName="destCountry" (input)="destCountryTypeAhead()" [matAutocomplete]="dest_country_auto">
                                                </mat-form-field>
                                                <mat-autocomplete #dest_country_auto="matAutocomplete" (optionSelected)="destinationCountrySelected($event)">
                                                    <mat-option *ngFor="let option of destCountryList" [value]="option">
                                                        {{option.countryName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4" *ngIf="isActivityTypeSelected && !isExport">
                                                    <mat-label>Country of Origin</mat-label>
                                                    <input matInput type="text" formControlName="countryOfOrigin" (input)="countryOfOriginTypeahead()" [matAutocomplete]="countryOfOrigin_auto">
                                                </mat-form-field>
                                                <mat-autocomplete #countryOfOrigin_auto="matAutocomplete" (optionSelected)="countryOfOriginSelected($event)">
                                                    <mat-option *ngFor="let option of countryOfOriginList" [value]="option">
                                                        {{option.countryName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4" *ngIf="isTransportModeSelected && isExport && isTrasnportTypeSea">
                                                    <mat-label>Destination Port</mat-label>
                                                    <input matInput type="text" formControlName="destinationPort" [matAutocomplete]="dest_port_auto">
                                                    <mat-autocomplete #dest_port_auto="matAutocomplete">
                                                        <mat-option *ngFor="let port of destFilterPortsList" [value]="port">
                                                            {{port.portName}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-4 col-xs-4" *ngIf="isTransportModeSelected && isExport && !isTrasnportTypeSea && estimateForm.value.modeOfTransport == 'AIR'">
                                                    <mat-label>Destination Airport</mat-label>
                                                    <input matInput type="text" formControlName="destinationAirport" (input)="destAirportTypeAhead()" [matAutocomplete]="dest_airport_auto">
                                                </mat-form-field>
                                                <mat-autocomplete #dest_airport_auto="matAutocomplete">
                                                    <mat-option *ngFor="let option of destFilterAirportsList" [value]="option">
                                                        {{option.airportName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4" *ngIf="isTransportModeSelected && !isExport && isTrasnportTypeSea">
                                                    <mat-label>Origin Port</mat-label>
                                                    <input matInput type="text" formControlName="portOfOrigin" (input)="countryOfOriginPortTypeahead()" [matAutocomplete]="countryOfOrigin_port_auto">
                                                </mat-form-field>
                                                <mat-autocomplete #countryOfOrigin_port_auto>
                                                    <mat-option *ngFor="let port of countryOforiginFilterPortsList" [value]="port">
                                                        {{port.portName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4" *ngIf="isTransportModeSelected && !isExport && !isTrasnportTypeSea">
                                                    <mat-label>Origin Airport</mat-label>
                                                    <input matInput type="text" formControlName="airportOfOrigin" (input)="countryOfOriginAirportTypeahead()" [matAutocomplete]="countryOfOrigin_airport_auto">
                                                </mat-form-field>
                                                <mat-autocomplete #countryOfOrigin_airport_auto>
                                                    <mat-option *ngFor="let airport of countryOfOriginFilterAirportsList" [value]="airport">
                                                        {{airport.airportName}}
                                                    </mat-option>
                                                </mat-autocomplete> 
                                            
                                            </div>-->
                                            <div class="row" *ngIf="isTrasnportTypeSea">
                                                <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <mat-label>Origin Port</mat-label>
                                                    <input matInput type="text" formControlName="portOfOrigin" [matAutocomplete]="autoOriginPort">
                                                    <mat-autocomplete #autoOriginPort="matAutocomplete">
                                                        <mat-option *ngFor="let port of filteredOriginPorts" [value]="port">
                                                            {{port}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                                <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <mat-label>Destination Port</mat-label>
                                                    <input matInput type="text" formControlName="destinationPort" [matAutocomplete]="autoDestPort">
                                                    <mat-autocomplete #autoDestPort="matAutocomplete">
                                                        <mat-option *ngFor="let port of filteredDestinationPorts" [value]="port">
                                                            {{port}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class="row" *ngIf="isTransportModeSelected && !isTrasnportTypeSea">
                                                <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <mat-label>Origin Airport</mat-label>
                                                    <input matInput type="text" formControlName="airportOfOrigin" [matAutocomplete]="autoOriginAirport">

                                                    <mat-autocomplete #autoOriginAirport="matAutocomplete">
                                                        <mat-option *ngFor="let option of filteredOriginAirports" [value]="option">
                                                            {{option}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                                <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <mat-label>Destination Airport</mat-label>
                                                    <input matInput type="text" formControlName="destinationAirport" [matAutocomplete]="autoDestAirport">
                                                    <mat-autocomplete #autoDestAirport="matAutocomplete">
                                                        <mat-option *ngFor="let option of filteredDestinationAirports" [value]="option">
                                                            {{option}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class="row">
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Inco Terms</mat-label>
                                                    <mat-select formControlName="incoTerms" (selectionChange)="incoTermChanged($event)">
                                                        <mat-option *ngFor="let type of global_service.incoTerms" [value]="type.id">{{type.data}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Delivery Type</mat-label>
                                                    <mat-select formControlName="deliveryType">
                                                        <mat-option *ngFor="let type of global_service.deliveryTypes" [value]="type">{{type}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <!--.row-->
                                            <!-- Begin: Inco Terms Journey-->
                                            <!-- Begin: Ex Works(exw) -->
                                            <div class="row" *ngIf="this.estimateForm.value.incoTerms.toLowerCase() == 'exw'">
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Pick Up Address</mat-label>
                                                    <input matInput type="text" formControlName="pickUpAddress">
                                                </mat-form-field>
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Name</mat-label>
                                                    <input matInput type="text" formControlName="spocName">
                                                </mat-form-field>
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Phone Number</mat-label>
                                                    <input matInput type="text" formControlName="spocPhone">
                                                </mat-form-field>
                                            </div>
                                            <!-- End: Ex Works(exw) -->
                                            <!-- Begin: Free Carrier(fca) -->
                                            <div class="row" *ngIf="this.estimateForm.value.incoTerms.toLowerCase() == 'fca'">
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Shipper Address</mat-label>
                                                    <input matInput type="text" formControlName="shipperAddress">
                                                </mat-form-field>
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>FCA Location</mat-label>
                                                    <input matInput type="text" formControlName="fcaLocation">
                                                </mat-form-field>
                                            </div>
                                            <!-- End: Free Carrier(fca) -->
                                            <!-- Begin: Delivered at Place(dap) -->
                                            <div class="row" *ngIf="this.estimateForm.value.incoTerms.toLowerCase() == 'dap'">
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Door Delivery Address</mat-label>
                                                    <input matInput type="text" formControlName="dapdduAddress">
                                                </mat-form-field>
                                            </div>
                                            <!-- End: Delivered at Place(dap) -->
                                            <!-- Begin: Delivered Duty Paid(ddp) -->
                                            <div class="row" *ngIf="this.estimateForm.value.incoTerms.toLowerCase() == 'ddp'">
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Door Delivery Address</mat-label>
                                                    <input matInput type="text" formControlName="ddpdduAddress">
                                                </mat-form-field>
                                                <!-- <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>HSCODE</mat-label>
                                                    <input matInput type="text" formControlName="hscode">
                                                </mat-form-field> -->
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Invoice Value</mat-label>
                                                    <input matInput type="text" formControlName="invoiceValue">
                                                </mat-form-field>
                                            </div>
                                            <!-- End: Delivered Duty Paid(ddp) -->
                                            <!-- Begin: Delivered Duty Unpaid(ddu) -->
                                            <div class="row" *ngIf="this.estimateForm.value.incoTerms.toLowerCase() == 'ddu'">
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Door Delivery Address</mat-label>
                                                    <input matInput type="text" formControlName="dduAddress">
                                                </mat-form-field>
                                                <!-- <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>HSCODE</mat-label>
                                                    <input matInput type="text" formControlName="dduHscode">
                                                </mat-form-field> -->
                                                <mat-form-field class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                                    <mat-label>Invoice Value</mat-label>
                                                    <input matInput type="text" formControlName="dduInvoiceValue">
                                                </mat-form-field>
                                            </div>
                                            <!-- End: Delivered Duty Unpaid(ddu) -->
                                            <!-- End: Inco Terms Journey-->
                                            <br/>
                                            <!--start cargo detials-->
                                            <h4>Cargo Details</h4>
                                            <div>
                                                <app-piece *ngFor="let pieceItem of pieceArray.controls" [pieceForm]="pieceItem" [rowNumber]="rowNumber"></app-piece>
                                                <button (click)="addNewPackage()" class="btn btn-bg-dark"><i class="ri-add-fill align-middle me-1"></i></button>
                                            </div>
                                            <!--end cargo details-->
                                            <br/>
                                            <div class="col-12">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <!-- <button class="btn btn-warning" (click)="estimateSubmit()" [disabled]="!this.estimateForm.valid">Hold Quotation</button> -->
                                                    <button class="btn btn-warning" (click)="estimateSubmit()">Hold Quotation</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                </div>
                <!-- .card-body -->
            </div>
            <!-- .card-->
        </div>
        <!-- .col-->
        <!-- end card-->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end page-content -->
<script src="assets/js/pages/form-validation.init.js"></script>